{{!
    This file is part of the mod_bookit plugin for Moodle - http://moodle.org/

    Checklist category template with a bootstrap table row
}}
<td class="bookit-drag-handle" id="bookit-drag-handle-{{id}}"
    data-bookit-drag-handle-id="{{id}}"
    data-bookit-drag-handle-type="{{type}}"
    style="cursor: grab;">
    {{#pix}} t/sort, core {{/pix}}
</td>

{{#js}}
require(['mod_bookit/drag_handle'], function(component) {
    component.init('#bookit-drag-handle-{{id}}');
});
{{/js}}
