{{!
    This file is part of the mod_bookit plugin for Moodle - http://moodle.org/

    Checklist category template with a bootstrap table row
}}
<tr id="bookit-master-checklist-item-{{id}}" class="table-default bookit-checklistitem"
    data-bookit-checklistitem-id="{{id}}"
    data-bookit-checklistitem-name="{{name}}"
    data-bookit-checklistitem-order="{{order}}"
    data-bookit-checklistitem-category="{{categoryid}}">
                <td>{{name}}</td>
                <td>{{roomname}}</td>
                <td>RESPONSIBILITY</td>
                <td>{{#pix}} i/edit, core {{/pix}}</td>
                <td>{{#pix}} t/sort, core {{/pix}}</td>
</tr>
{{#js}}
require(['mod_bookit/master_checklist_item'], function(component) {
    component.init('#bookit-master-checklist-item-{{id}}');
});
{{/js}}
