{{!
    This file is part of the mod_bookit plugin for Moodle - http://moodle.org/

    Checklist drag handle template
}}
<td class="bookit-drag-handle align-middle text-center py-3" id="bookit-drag-handle-{{type}}-{{id}}"
    data-bookit-drag-handle-id="{{id}}"
    data-bookit-drag-handle-type="{{type}}"
    data-bookit-drag-handle-{{type}}-id="{{id}}"
    style="cursor: grab; width: 50px;">
    <button class="btn btn-sm btn-light border" style="padding: 0.25rem 0.5rem;">
        {{#pix}} t/sort, core {{/pix}}
    </button>
</td>

{{#js}}
require(['mod_bookit/drag_handle'], function(component) {
    component.init('#bookit-drag-handle-{{type}}-{{id}}');
});
{{/js}}
