{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bookit/resource_catalog

    Resource catalog container with categories and resources.

    Context variables:
    * contextid - System context ID
    * categories - Array of category objects

    Example context (json):
    {
        "contextid": 1,
        "categories": [
            {
                "id": 1,
                "name": "Category Name",
                "description": "Description",
                "sortorder": 0,
                "active": true,
                "resources": []
            }
        ]
    }
}}
<div class="mod-bookit-resource-catalog"
     id="mod-bookit-resource-catalog"
     data-contextid="{{contextid}}"
     data-reactive="catalog">

    {{! Add Category Button }}
    <div class="mb-4">
        <button class="btn btn-primary"
                data-action="add-category"
                id="add-category-btn">
            {{#str}}resources:add_category, mod_bookit{{/str}}
        </button>
    </div>

    {{! Categories Container }}
    <div id="mod-bookit-resource-categories">
        {{#categories}}
            {{> mod_bookit/resource_category_card }}
        {{/categories}}
        {{^categories}}
            <p class="text-muted" id="mod-bookit-no-categories">{{#str}}resources:no_categories, mod_bookit{{/str}}</p>
        {{/categories}}
    </div>
</div>
